#board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  position: relative;
}
.upperSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 450px;
  h1 {
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 32px;
  }
}
.winner {
  color: white;
  font-weight: 600;
  font-size: 32px;
  margin: 10px 0;
  letter-spacing: 10px;
  .winnerName {
    color: #0078a0;
  }
}

@media (max-width: 700px) {
  .winner {
    letter-spacing: normal;
  }
}

@media (max-width: 460px) {
  #board {
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw 30vw;
  }
  .upperSection {
    width: 100%;
    h1 {
      font-size: 24px;
    }
    .newGame {
      font-size: 24px;
      padding: 0 10px;
    }
  }
}

@media (max-width: 400px) {
  .upperSection {
    flex-wrap: wrap;
    text-align: center;
  }
  .newGame {
    width: 80%;
  }
  .winner {
    font-weight: 500;
  }
}
